.flat{
    flex-basis: calc(50% - 20px);
    margin: 10px;
    cursor: pointer;
}
.flat:hover{
    opacity: .8;
}
.flat-picture{
    height: 200px;
    background-size: cover;
    background-position: center;
}
.flat-title{

}
